include AUTHORS
include README.rst
include MANIFEST.in
include LICENSE
include Makefile
recursive-include docs *
recursive-include mixpanel *.py
recursive-include scripts *
recursive-include testproj *.py
prune docs/*.pyc
prune mixpanel/*.pyc
prune docs/.build